body {
    background-color: black;
    padding: 0;
    margin: 0;
}
.mainDiv {
    background-color: cadetBlue;
    margin: 0 auto;
    height: 620px;
    width: 620px;
}
.mainDiv > div {
    height: 200px;
    width: 200px;
    display: inline-block;
    color: white;
}

.reds {
    background-color: red;
    border-radius: 50%;
}
.yellows {
    background-color: yellow;
    border-radius: 50%;
}
.greens {
    background-color: green;
    border-radius: 50%;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
    /*display: none; */
}
.green {
    background-color: green;
}